@import url("https://fonts.googleapis.com/css2?family=Akronim&family=Karla:wght@800&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --primary-color: rgb(249, 251, 251);
  --primary-color-lg: rgb(252, 252, 252);
  --primary-color-lg2: rgb(237, 243, 250);
  --primary-color-tr: rgba(256, 256, 256, 0.4);
  --secondary-color: rgb(221, 255, 231);
  --secondary-color-dk: rgb(208, 249, 221);
  --secondary-color-dk2: rgb(8, 202, 8);
  --secondary-color-dk3: rgb(8, 188, 8);
  --brandLogo-color: rgb(0, 128, 0);
  --brand-shadow-color: rgb(0, 100, 0);
  --grey-color-lg: rgba(100, 100, 100, 0.6);
  --grey-color: rgba(65, 65, 65, 0.76);
  --grey-color-dk: rgba(60, 60, 60, 0.8);
  --grey-color-dk2: rgb(49, 49, 49);
  --notification-color: rgb(220, 0, 0);

  /* some useful variables */
  --primary-font: "Noto Sans", sans-serif;
  --primary-transition: all 0.1s linear;
  --secondary-transition: all 0.2s linear;
  --user-profile-box-shadow: 0 0 8px rgb(147, 147, 147);
  --box-shadow: 0px 4px 8px rgba(195, 195, 195, 0.886);
  --box-shadow2: 0px 2px 8px rgba(195, 195, 195, 0.3);
  --box-shadow3: 0px 2px 6px rgba(195, 195, 195, 0.886);
  --border-radius: 4px;
  --mask-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.1)
    ),
    linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 1));
  --nav-height: 75px;
}

body {
  font-family: var(--primary-font);
  scroll-behavior: smooth;
}

main {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}

/* ********************************************** */
/*---------------------Navbar---------------------*/
/* ********************************************** */

.navbar {
  background-color: var(--secondary-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 1.8rem;
}

/* Brand Logo */
.brand-logo {
  cursor: pointer;
  display: inline-block;
  font-family: "Akronim", cursive;
  order: 1;
}

.logo-text {
  color: var(--brandLogo-color);
  font-size: 2.5rem;
  text-decoration: none;
  text-shadow: 4px 4px 10px var(--brand-shadow-color);
}

.small {
  font-size: 2rem;
}

/* Navbar Links */
.navlinks-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  list-style: none;
  order: 2;
  width: 50%;
  max-width: 500px;
}

.navlinks {
  color: var(--grey-color);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}

/* Shopping Cart */
.cart {
  color: var(--nav-links-color);
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  margin-left: 2rem;
  order: 3;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1.1);
  }
}

.cart:hover {
  animation: pop 0.3s linear forwards;
}

.cart-itemCount {
  background-color: var(--notification-color);
  border-radius: 100%;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -6px;
  top: -8px;
  width: 0.8rem;
  height: 0.8rem;
}

.cart-itemCount p {
  font-size: 0.6rem;
}

/* User Profile */
.user-profile {
  border-radius: 100%;
  color: var(--nav-links-color);
  cursor: pointer;
  display: flex;
  font-size: 6px;
  word-wrap: break-word;
  margin-left: 2rem;
  order: 4;
  height: 1.6rem;
  width: 1.6rem;
}

@keyframes profile-click {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}

.user-profile img {
  border-radius: 100%;
  overflow: auto;
  transition: var(--secondary-transition);
}

.user-profile img:hover {
  box-shadow: var(--user-profile-box-shadow);
}

.user-profile img:active {
  animation: profile-click 0.1s linear;
}

/* user dropdown menu */
@keyframes userMenu-open {
  from {
    opacity: 0;
    transform: scale(0.8);
    visibility: hidden;
  }
  to {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
}

@keyframes userMenu-close {
  from {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
  to {
    opacity: 0;
    transform: scale(0.8);
    visibility: hidden;
  }
}

.user-dropdown-menu {
  background-color: var(--primary-color-lg);
  border-radius: 4px;
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  position: absolute;
  top: 3.8rem;
  right: 2rem;
  width: 120px;
  padding: 5px;
}

.openMenu {
  animation: userMenu-open 0.2s ease-in-out forwards;
}

.closeMenu {
  animation: userMenu-close 0.2s ease-in-out forwards;
}

.user-dropdown-menu a {
  text-decoration: none;
}

.user-dropdown-menu p {
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.user-dropdown-menu p:hover {
  background-color: var(--primary-color-lg2);
  transition: var(--primary-transition);
}

/* mobile specific nav options */
.mobile-view-list {
  display: none !important;
  font-size: 1rem;
  list-style: none;
}

.mobile-view-list li {
  padding: 5px 10px;
}

.mobile-view-list li:hover {
  background-color: var(--primary-color-lg2);
  transition: var(--primary-transition);
}

/* mobile & tablet view */
@media screen and (max-width: 640px) {
  .nav-container {
    padding: 10px 1.4rem;
  }

  .navlinks-container {
    display: none;
  }

  .brand-logo {
    margin: auto;
    order: 2;
  }

  .logo-text {
    font-size: 3rem;
  }

  .small {
    font-size: 2.4rem;
  }

  .cart {
    font-size: 1.6rem;
    margin-left: 0;
    order: 1;
  }

  .cart-itemCount {
    height: 1rem;
    width: 1rem;
  }

  .cart-itemCount p {
    font-size: 0.8rem;
  }

  .user-profile {
    height: 1.8rem;
    width: 1.8rem;
  }

  .user-dropdown-menu {
    padding: 0;
    top: 3.6rem;
    right: 1.4rem;
  }

  .user-dropdown-menu p {
    font-size: 1rem;
    padding: 5px 10px;
  }

  .mobile-view-list {
    display: block !important;
  }

  .logout-btn {
    background-color: rgb(215, 221, 226);
    justify-content: center;
    margin: 5px;
  }

  .logout-btn:hover {
    background-color: rgb(204, 210, 215) !important;
    transition: var(--primary-transition);
  }
}

/* ********************************************** */
/*------------------Hero Section------------------*/
/* ********************************************** */

.hero-section {
  background-color: var(--primary-color);
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  margin-top: var(--nav-height);
  padding: 20px 1.8rem;
}

/* hero section content */
.hero-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}

.delivery {
  border-radius: 50px;
  background-color: var(--secondary-color-dk);
  color: var(--secondary-color-dk3);
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.8rem;
  padding: 4px 6px 4px 16px;
  width: fit-content;
}

.delivery p {
  font-weight: bold;
  text-transform: capitalize;
}

.bike-icon {
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  box-shadow: var(--box-shadow3);
  display: flex;
  justify-content: center;
  padding: 2px;
}

.bike-icon img {
  height: 22px;
  width: 22px;
}

.tagline {
  color: var(--grey-color-dk2);
  font-family: "Karla", sans-serif;
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 1.5;
}

.tagline span {
  font-size: 5rem;
  color: var(--secondary-color-dk3);
}

.description {
  color: var(--grey-color);
}

.hero-order-btn {
  background-color: var(--secondary-color-dk3);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  text-transform: capitalize;
  padding: 6px 12px;
  width: fit-content;
  transition: var(--secondary-transition);
}

.hero-order-btn:hover {
  background-color: var(--secondary-color-dk2);
  box-shadow: var(--box-shadow);
}

/* hero section attractions */
.hero-attractions {
  display: flex;
  position: relative;
}

.hero-bg {
  border-radius: 20px;
  height: 600px;
  max-width: 100%;
  width: 400px;
  margin-left: auto;
  mask-image: var(--mask-image);
}

.hero-delicacies {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem auto;
  height: 100%;
  width: 100%;
}

.hero-card {
  background-color: var(--primary-color-tr);
  backdrop-filter: blur(12px);
  border-radius: 10px;
  box-shadow: var(--box-shadow2);
  display: flex;
  font-family: "Karla", sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  width: 180px;
}

.hero-card img {
  margin-top: -5rem;
  height: 160px;
  width: 160px;
}

.item-name {
  color: var(--grey-color-dk);
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 1rem;
}

.item-desc {
  color: var(--grey-color-lg);
  font-size: 0.75rem;
  line-height: 1.25;
  margin-top: 0.5rem;
}

.item-price {
  color: var(--grey-color-dk);
  font-size: 0.75rem;
  line-height: 1.25;
  margin-top: 0.5rem;
}

.item-price span {
  color: var(--secondary-color-dk3);
  font-weight: bold;
}

/* extra large screens */
@media screen and (min-width: 1280px) {
  .hero-delicacies {
    gap: 1.5rem;
    padding: 1rem 6rem;
  }
}

/* large screens devices */
@media screen and (max-width: 1280px) {
  /* hero content section */
  .tagline {
    font-size: 4rem;
  }

  .tagline span {
    font-size: 4.4rem;
  }

  /* hero attractions section */
  .hero-delicacies {
    padding: 1rem;
  }
}

/* medium screens devices */
@media screen and (max-width: 1024px) {
  /* hero content section */
  .tagline {
    font-size: 3.4rem;
  }

  .tagline span {
    font-size: 3.7rem;
  }

  /* hero attractions section */
  .hero-card {
    padding: 0.5rem;
    width: 140px;
  }

  .hero-card img {
    margin-top: -3.4rem;
    height: 120px;
    width: 120px;
  }

  .item-name {
    font-size: 0.8rem;
  }

  .item-desc,
  .item-price {
    font-size: 0.6rem;
  }
}

/* small devices view - mobiles & tablets */
@media screen and (max-width: 768px) {
  .hero-section {
    grid-template-columns: 1fr;
  }

  /* hero content section */
  .tagline {
    font-size: 2.5rem;
  }

  .tagline span {
    font-size: 3rem;
  }

  .hero-order-btn {
    margin: auto;
    font-weight: bold;
    padding: 10px;
    width: 50%;
  }

  /* hero attractions section */
  .hero-attractions {
    margin-top: 20px;
  }

  .hero-bg {
    height: 480px;
    width: 100%;
  }

  .hero-card {
    width: 140px;
  }

  .hero-card img {
    margin-top: -3rem;
    height: 100px;
    width: 100px;
  }
}

@media screen and (max-width: 480px) {
  .hero-order-btn {
    width: 100%;
  }

  .hero-card {
    width: 120px;
  }
}
