@import url("https://fonts.googleapis.com/css2?family=Akronim&family=Noto+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f6f2f4;
  --brandLogo-color: #008000;
  --brand-shadow-color: #006400;
  --nav-links-color: #444;
  --notification-color: #dc0000;

  --primary-font: "Noto Sans", sans-serif;
  --primary-transition: all 0.1s linear;
  --secondary-transition: all 0.2s linear;
  --user-profile-box-shadow: 0 0 8px #939393;
  --user-container-box-shadow: 0px 4px 8px #c3c3c3e2;
}

body {
  font-family: var(--primary-font);
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
}

/*---------------------Navbar---------------------*/
nav {
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 2rem;
}

/* Brand Logo */
.brand-logo {
  cursor: pointer;
  display: inline-block;
  font-family: "Akronim", cursive;
  order: 1;
}

.logo-text {
  color: var(--brandLogo-color);
  font-size: 2.5rem;
  text-decoration: none;
  text-shadow: 4px 4px 10px var(--brand-shadow-color);
}

.small {
  font-size: 2rem;
}

/* Navbar Links */
.navlinks-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  list-style: none;
  order: 2;
  width: 50%;
  max-width: 500px;
}

.navlinks {
  color: var(--nav-links-color);
  cursor: pointer;
  font-size: 1rem;
  text-transform: capitalize;
}

/* Shopping Cart */
.cart {
  color: var(--nav-links-color);
  cursor: pointer;
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  margin-left: 2rem;
  order: 3;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1.1);
  }
}

.cart:hover {
  animation: pop 0.3s linear forwards;
}

.cart-itemCount {
  background-color: var(--notification-color);
  border-radius: 100%;
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -6px;
  top: -8px;
  width: 0.8rem;
  height: 0.8rem;
}

.cart-itemCount p {
  font-size: 0.6rem;
}

/* User Profile */
.user-profile {
  border-radius: 100%;
  color: var(--nav-links-color);
  cursor: pointer;
  display: flex;
  font-size: 6px;
  word-wrap: break-word;
  margin-left: 2rem;
  order: 4;
  height: 1.6rem;
  width: 1.6rem;
}

@keyframes profile-click {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}

.user-profile img {
  border-radius: 100%;
  overflow: auto;
  transition: var(--secondary-transition);
}

.user-profile img:hover {
  box-shadow: var(--user-profile-box-shadow);
}

.user-profile img:active {
  animation: profile-click 0.1s linear;
}

@keyframes userMenu-open {
  from {
    opacity: 0;
    transform: scale(0.8);
    visibility: hidden;
  }
  to {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
}

@keyframes userMenu-close {
  from {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
  to {
    opacity: 0;
    transform: scale(0.8);
    visibility: hidden;
  }
}

.user-dropdown-menu {
  background-color: #f9fbfb;
  border-radius: 4px;
  box-shadow: var(--user-container-box-shadow);
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  position: absolute;
  top: 3.8rem;
  right: 2rem;
  width: 120px;
  padding: 5px;
}

.openMenu {
  animation: userMenu-open 0.2s ease-in-out forwards;
}

.closeMenu {
  animation: userMenu-close 0.2s ease-in-out forwards;
}

.user-dropdown-menu a {
  text-decoration: none;
}

.user-dropdown-menu p {
  color: var(--nav-links-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 5px;
}

.user-dropdown-menu p:hover {
  background-color: #edf3fa;
  transition: var(--primary-transition);
}

.mobile-view-list {
  display: none !important;
  font-size: 1rem;
  list-style: none;
}

.mobile-view-list li {
  padding: 5px 10px;
}

.mobile-view-list li:hover {
  background-color: #edf3fa;
  transition: var(--primary-transition);
}

/* mobiles & tablets */
@media screen and (max-width: 600px) {
  .nav-container {
    padding: 0 1.4rem;
  }

  .navlinks-container {
    display: none;
  }

  .brand-logo {
    margin: auto;
    order: 2;
  }

  .logo-text {
    font-size: 3rem;
  }

  .small {
    font-size: 2.4rem;
  }

  .cart {
    font-size: 1.6rem;
    margin-left: 0;
    order: 1;
  }

  .cart-itemCount {
    height: 1rem;
    width: 1rem;
  }

  .cart-itemCount p {
    font-size: 0.8rem;
  }

  .user-profile {
    height: 1.8rem;
    width: 1.8rem;
  }

  .user-dropdown-menu {
    padding: 0;
    top: 3.6rem;
    right: 1.4rem;
  }

  .user-dropdown-menu p {
    font-size: 1rem;
    padding: 5px 10px;
  }

  .mobile-view-list {
    display: block !important;
  }

  .logout-btn {
    background-color: #d7dde2;
    justify-content: center;
    margin: 5px;
  }

  .logout-btn:hover {
    background-color: #ccd2d7 !important;
    transition: var(--primary-transition);
  }
}
